site_name: urn_citation
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google  # Specifically parses your style
            show_source: true        # Includes a link to the source code

nav:
  - "Home": index.md
  - "API documentation": reference.md